<h1>Thanks for you purchase!</h1>
<h1> Your order was successfully placed!</h1>
<h1>Confirmation Number:</h1>


<h2><a href="/products"button type="button" class="btn btn-success">Go home</a></button></h2>